body, html
{
	padding: 0;
	margin: 0;
}
img
{
	width: 100%;
}
.wrapper
{
	width: 98%;
	margin: 0 auto;
}

.nav-container > div
{
	float: left;
}
.row
{
	margin: 0;
}
header .logo
{
	margin-top: 0.5em;
	padding: 0;
	width: 20%;
}

header .logo img
{
	width: 100%;
}
header .menu
{
	width: 55%;
}
header .redes
{
	width: 25%;
}
header .redes ul
{
	width: 100%;
}
header .navbar{
	background-color: #133F1E; 
	border-radius: 0;
}
.fa.menu-icon {
    font-size: 2em;
    color: white;
}
.btn-search
{
	background-color: #133F1E;
	border: 1px solid #e0e0e0;
	color: #fff;
}
.btn-search:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-search:hover
{
	color: #eee;
}

.navbar-form.navbar-left{
    margin-top: 12px;
}


.nav>li>a:focus, .nav>li>a:hover
{
	background-color: #133F1E;

}
.popover {
    width: 200px;
    text-align: center;
}

@media(min-width: 992px) and (max-width: 1200px){
	.nav > li{
	    width: calc(100%/5);
	}
	.nav>li>a
	{
		padding: 1em 0 0 0;
	}
	
	.navbar-form.navbar-left
	{
	    width: 60%;
	}
	.navbar-form .form-group
	{
		width: 70%;
	}
	.menu .nav.navbar-nav
	{
		width: 40%;
	}
	.redes .nav.navbar-nav.navbar-right
	{
		width: 100%;
	}
}

.btn-menu
{
	margin-top: 0.5em
}
.btn-menu .fa
{
	font-size: 1.5em;
}
.menu-movil
{
	position: absolute;
	text-align: center;
	background-color: #133F1E;
	top: 95%;
	left: 50%;
	padding: 0; 	
	z-index: 1;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.menu-movil > form
{
    border-top: 1px solid white;
    padding: 1em 0;
}
.menu-movil ul
{
	padding-left: 0;
	list-style: none;
	border-top: 1px solid white;
}
.menu-movil ul li
{
	width: 100%;
	border-bottom: 1px solid white;
	margin: 1em 0;
}
.menu-movil ul li a
{
	color: white;
}
.navbar-form.navbar-left.form-movil
{
	float: none;
}

.boder-colored
{
	border-radius: 4px;
	border: 1px solid green;
}
.cat-container
{
	max-height: 500px;
	overflow-y: hidden; 
}
.cat-container:hover
{
	overflow-y: scroll; 
}

.cat-container ul
{
	list-style: none;
	padding-left: 0;
}
.cat-container ul h3
{
	text-align: left;
}
.banderas
{
	text-align: center;
}
.bandera 
{
    width: 9%;
    display: inline-block;
    min-width: 75px;
    vertical-align: top;
    -webkit-transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
         -o-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
	opacity: 0.4;
}
.bandera.bandera-bolivia,.bandera:hover
{
	opacity: 1;
}

@media(max-width: 767px){
	.menu-movil > form
	{
		width: 100%;
		box-shadow: 0px 0px 0px 0px transparent;
    	display: inline-block;
	}
	.menu-movil > form > .form-group
    {
    	display: inline-block;
    	width: 50%;
    }
    .contenedorUnico
    {
    	font-size: smaller;
    }
}
.pubs
{
	margin: 0.5em 0;
}

.filters
{
	text-align: center;
}
.filters .dropdown
{
	display: inline-block;
}
footer
{
    background-color: #133F1E;
    display: inline-block;
    width: 100%;
    margin-top: 5em;
}

footer .panel-footer
{
	background-color: transparent;
}

footer p, footer a
{
	color: white;
} 
.center-block
{
	float: none;
}
.contenedorUnico
{
	min-height: 100vh;
}
.formulario
{
	margin-top: 1em;
}
.input-group
{
	width: 100%;
}
.vcenter
{
	-webkit-transform: translateY(25%);
	   -moz-transform: translateY(25%);
	    -ms-transform: translateY(25%);
	     -o-transform: translateY(25%);
	        transform: translateY(25%);
}
.contAnaranjado
{
    border-radius:8px;
    border:2px solid green;
    padding: 2em;
    margin-bottom: 2em;

}
.responseDanger
{
	display: none;
}
.responseDanger.active
{
	display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.separator
{
	margin-bottom: 2em;
}
.item .btn, .pubBtn
{
	width: 100%;
}
.item 
{
	padding: 5px;
}
.contCatIndex .image
{
	height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
}
.contCatIndex .texto-desc
{
    margin-bottom: 1em;
}
.contCatIndex .image img
{
	width: auto !important;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.no-padding, .no-padding-left
{
	padding: 0;
}
@media(min-width: 1024px){
	.no-padding-left
	{
		padding: 0 15px 0 0;
	}
}
	
.inputError
{
	box-shadow: 0px 0px 1px 1px red;
}
.pubType
{
	max-width: 300px;
}

.ui-widget-header
{
	background: #133F1E !important;
	color: #FFFFFF;
}
.miniLoader
{
	width: 25px;
}
.contLoaderBig.active
{
	display: block;
}
.contLoaderBig
{
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
	width: 100%;
	height: 400px;
}
.contLoaderBig .loaderBig
{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.loaderBig
{
    width: 50px;
}

.payment-text
{
	font-size: 80px;
    color: #C41617;
    text-align: right;
}
.payment-amount
{
    font-size: 60px;
    color: #133F1E;
    text-align: right;
}
.contLoading
{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #fff; 
	z-index: 100;
}
.contLoading .fa
{
	position: absolute;
	top: 45%;
    left: 45%;	
}
.dataTables_filter label
{
	width: 100%;
}
.dataTables_filter label input
{
	width: 90% !important;
}
.menu-movil
{
	z-index: 100;
}

.disponible
{
    max-height: 350px;
    max-width: 300px;
    margin: 0 auto;
}
.table.vertical-middle > thead > tr > th,
.table.vertical-middle > tbody > tr > th, 
.table.vertical-middle > tfoot > tr > th, 
.table.vertical-middle > thead > tr > td, 
.table.vertical-middle > tbody > tr > td,
.table.vertical-middle > tfoot > tr > td
{
	vertical-align: middle;
}
.contInputFilter input
{
	font-size: 12px;
	max-height: 24px;
}
.filter-container
{
	padding: 2em 0 5em 0;
}

select.currency
{
	max-height: 30px;
	font-size: 12px;
}

.filter-container .depFilterNotWorking,.filter-container label.depFilterLabel
{
	font-size: 9px;
}
.precioPub
{
  color: rgb(36, 85, 128);
  font-weight: 600;
}
.contPubLiderBusq
{
    height: 215px;
    overflow: hidden;
    position: relative;
}

@media(max-width: 768px){
	.text-center-xs
	{
		text-align: center;
	}
	.pub-title
	{
	    margin-top: 7px;
	}
}
@media(min-width: 426px) and (max-width: 768px){
	.contPubLiderBusq
	{
	    height: 300px;
	    overflow: hidden;
    	position: relative;
	}
	.contPubLiderBusq .dataIndex
	{
		-webkit-transform: translateY(-90px);
		   -moz-transform: translateY(-90px);
		    -ms-transform: translateY(-90px);
		     -o-transform: translateY(-90px);
		        transform: translateY(-90px);
	}
	.contPubLiderBusq .dataIndex:hover
	{
		-webkit-transform: translateY(-90px);
		   -moz-transform: translateY(-90px);
		    -ms-transform: translateY(-90px);
		     -o-transform: translateY(-90px);
		        transform: translateY(-90px);
	}
	.contPubNoLider .dataIndex
	{
		-webkit-transform: translateY(-100px);
		   -moz-transform: translateY(-100px);
		    -ms-transform: translateY(-100px);
		     -o-transform: translateY(-100px);
		        transform: translateY(-100px);
	}
	.contPubNoLider .dataIndex:hover
	{
		-webkit-transform: translateY(-100px);
		   -moz-transform: translateY(-100px);
		    -ms-transform: translateY(-100px);
		     -o-transform: translateY(-100px);
		        transform: translateY(-100px);
	}
}
.owl-carousel-busq 	> .owl-controls > .owl-dots > .owl-dot
{
	display: none;
}
.owl-carousel-busq 	> .owl-controls > .owl-dots > .owl-dot:nth-child(-n+6)
{
	display: inline-block;
}
.btn-full
{
	width: 100%;
}
.owl-carousel .owl-item
{
	background-color: #fff;
}
#bronce
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 50px 48px;
}
#plata
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 100px 48px;
}
#oro
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 150px 48px;
}
#c_bronce
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 50px 2px;
}
#c_plata
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 100px 2px;
}
#c_oro
{
	background-image: url('../images/trop.jpg');
	background-size: 150px 100px;
	background-position: 150px 2px;
}
.trofeos
{
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 2em;
}
@media(max-width: 991px){
	.trofeos
	{
		margin-left: 0;
	}
}
.heightTransition
{
	-webkit-transition: height .25s ease-out;
	   -moz-transition: height .25s ease-out;
	    -ms-transition: height .25s ease-out;
	     -o-transition: height .25s ease-out;
	        transition: height .25s ease-out;
}
.inputComentario
{
	height: 75px !important;
}
.inputComentario.textareaFocused
{
    height: 150px !important;
}
.contTypePub
{
	width: 20%;
	height: 50px;
	float: right;
	margin-top: 20px;
}
.contTypePub img
{
	height: 100%;
	float: right;
	max-width: 50px;
	border-radius: 4px;
}
.typePub
{
    max-height: 50px;
    width: auto;
}
.pika_stage_lider_container .pika-stage
{
	width: 100%;
	height: auto !important;
}
.pika-stage .caption
{
	display: none !important;
}
.pika_stage_lider.pika-thumbs
{
	padding: 0;
	margin-top: 1em;
}
.pika_stage_lider.pika-thumbs li
{
	margin: 0 5px 0 0;
}
.fancybox-inner .pika-stage 
{
	height: auto !important;
    margin: 0 auto;
    max-height: 800px !important;
    width: auto !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened
{
	width: 90% !important;
	top: 50% !important;
	left: 50% !important;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.fancybox-inner
{
	width: auto !important;
}

.pika-textnav
{
    width: 100% !important;
    padding: 0 1em 0 0;
}
.dataIndex.dataOtherPubs
{
	height: 100px;
}
.title-pub
{
	font-size: 3em;
}
@media(max-width: 425px){
	.title-pub
	{
		font-size: 2em;
	}
	.caracteristicasPub h4
	{
		font-size: small;
	}
	.caracteristicasPub label
	{
		font-size: smaller;
	}
}
@media(max-width: 991px) and (min-width: 768px){
	.btn-fav.visible-xs, .btn-remove-fav.visible-xs
	{
		display: inline-block !important;
	}
}

.data
{
	-webkit-transform: translateY(-90px);
	   -moz-transform: translateY(-25px);
	    -ms-transform: translateY(-25px);
	     -o-transform: translateY(-25px);
	        transform: translateY(-25px);
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 200px;
	display: block;
	color: white;
}
.data:hover
{
	-webkit-transform: translateY(-200px);
	   -moz-transform: translateY(-200px);
	    -ms-transform: translateY(-200px);
	     -o-transform: translateY(-200px);
	        transform: translateY(-200px);
}
.dataIndex
{
	-webkit-transform: translateY(-25px);
	   -moz-transform: translateY(-25px);
	    -ms-transform: translateY(-25px);
	     -o-transform: translateY(-25px);
	        transform: translateY(-25px);
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 200px;
	display: block;
	color: white;
}
.dataIndex:hover
{
	-webkit-transform: translateY(-100px);
	   -moz-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	     -o-transform: translateY(-100px);
	        transform: translateY(-100px);
}
@media(max-width: 991px){
	.data, .dataIndex
	{
		height: 50px;
		-webkit-transform: translateY(-50px);
		   -moz-transform: translateY(-50px);
		    -ms-transform: translateY(-50px);
		     -o-transform: translateY(-50px);
		        transform: translateY(-50px);
	}
	.contPubNoLider .dataIndex
	{
		height: 100px;
		-webkit-transform: translateY(-100px);
		   -moz-transform: translateY(-100px);
		    -ms-transform: translateY(-100px);
		     -o-transform: translateY(-100px);
		        transform: translateY(-100px);
	}
	#tablesorter
	{
		font-size: smaller;
	}
	.pika-textnav
	{
		width: 100% !important;
    	padding: 0 1em;
	}
	.pika_stage_lider_container .pika-stage
	{
		position: relative;
	}
}
.fb_iframe_widget,.fb_iframe_widget > span
{
	vertical-align: top !important;
}
@media(max-width: 320px){
	.pika_stage_lider.pika-thumbs li
	{
		float: none;
		margin: 0 auto;
	}
	.pika_stage_lider.pika-thumbs
	{
		height: auto;
	}
}
.btn-transparent
{
	background-color: transparent;
    border: 0;
    background-image: none;
    box-shadow: 0px 0px 0px 0px transparent;
}
.btn-transparent:hover, .btn-transparent:focus
{
	background-color: transparent;
}
.btn-fav,.btn-remove-fav
{
	font-size: 3em;
	border-radius: 50%;
}
.imgFav
{
	max-width: 300px;
}
/* -------------------------------- 
 
custom icons - customize the small arrow inside the next and prev buttons 
 
-------------------------------- */

.blog-pagination {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 55px;
}

.portfolio-pagination{
  text-align: center;
  
  padding-top: 40px;
  padding-bottom: 90px;
}

.pagination li{
  display: inline-block;
  margin: 0 10px;
}

.pagination li a{
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.pagination li:first-child a{
  background: url(../images/portfolio/left.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.pagination li:first-child a:hover{
  background: url(../images/portfolio/left.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.pagination li:last-child a{
  background: url(../images/portfolio/right.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.pagination li:last-child a:hover{
  background: url(../images/portfolio/right.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.pagination li a:hover,
.pagination .active a, 
.pagination a:active, 
.pagination .active a:hover,
.pagination .active a:focus, 
.pagination a:focus {
  background: transparent;
  border-color: #C03035;
  color: #C03035;
}
.alert
{
	margin-top: 1em;
}