@-webkit-keyframes showAnimation {
             0% { 
              -webkit-transform: translateX(500%);
                   -moz-transform: translateX(500%);
                    -ms-transform: translateX(500%);
                     -o-transform: translateX(500%);
                        transform: translateX(500%);
             } 
            100% { 
              -webkit-transform: translateX(120%);
                   -moz-transform: translateX(120%);
                    -ms-transform: translateX(120%);
                     -o-transform: translateX(120%);
                        transform: translateX(120%);
             }
          }

          @keyframes showAnimation {
            0% { 
              -webkit-transform: translateX(500%);
                   -moz-transform: translateX(500%);
                    -ms-transform: translateX(500%);
                     -o-transform: translateX(500%);
                        transform: translateX(500%);
             } 
             100% { 
              -webkit-transform: translateX(120%);
                   -moz-transform: translateX(120%);
                    -ms-transform: translateX(120%);
                     -o-transform: translateX(120%);
                        transform: translateX(120%);
             }
             
          }
           @-webkit-keyframes showAnimation2 {
             0%,50% { 
              -webkit-transform: translate(600%,30%);
                   -moz-transform: translate(600%,30%);
                    -ms-transform: translate(600%,30%);
                     -o-transform: translate(600%,30%);
                        transform: translate(600%,30%);
             } 
            100% { 
              -webkit-transform: translate(48%,30%);
                 -moz-transform: translate(48%,30%);
                  -ms-transform: translate(48%,30%);
                   -o-transform: translate(48%,30%);
                      transform: translate(48%,30%);
             }
          }

          @keyframes showAnimation2 {
            0%,50% { 
              -webkit-transform: translate(600%,30%);
                   -moz-transform: translate(600%,30%);
                    -ms-transform: translate(600%,30%);
                     -o-transform: translate(600%,30%);
                        transform: translate(600%,30%);
             } 
             100% { 
              -webkit-transform: translate(48%,30%);
                 -moz-transform: translate(48%,30%);
                  -ms-transform: translate(48%,30%);
                   -o-transform: translate(48%,30%);
                      transform: translate(48%,30%);
             }
             
          }
          @-webkit-keyframes rotarRueda {
             
            100% { 
              -webkit-transform: rotate(-360deg);
                   -moz-transform: rotate(-360deg);
                    -ms-transform: rotate(-360deg);
                     -o-transform: rotate(-360deg);
                        transform: rotate(-360deg);
             }
          }

          @keyframes rotarRueda {
            
             100% { 
              -webkit-transform: rotate(-360deg);
                   -moz-transform: rotate(-360deg);
                    -ms-transform: rotate(-360deg);
                     -o-transform: rotate(-360deg);
                        transform: rotate(-360deg);
             }
             
          }

          @-webkit-keyframes verde {
             0%,80%
             {
              -webkit-transform: translateY(-500%);
                 -moz-transform: translateY(-500%);
                  -ms-transform: translateY(-500%);
                   -o-transform: translateY(-500%);
                      transform: translateY(-500%);
             }
            
            100% { 
              -webkit-transform: translateY(0px);
                 -moz-transform: translateY(0px);
                  -ms-transform: translateY(0px);
                   -o-transform: translateY(0px);
                      transform: translateY(0px);
             }
          }

          @keyframes verde {
            
             0%,80%
             {
              -webkit-transform: translateY(-500%);
                 -moz-transform: translateY(-500%);
                  -ms-transform: translateY(-500%);
                   -o-transform: translateY(-500%);
                      transform: translateY(-500%);
             }
             
            100% { 
              -webkit-transform: translateY(0px);
                 -moz-transform: translateY(0px);
                  -ms-transform: translateY(0px);
                   -o-transform: translateY(0px);
                      transform: translateY(0px);
             }
          }
          @-webkit-keyframes roja {
             0%,85%
             {
              -webkit-transform: translate(-50%,-500%);
                 -moz-transform: translate(-50%,-500%);
                  -ms-transform: translate(-50%,-500%);
                   -o-transform: translate(-50%,-500%);
                      transform: translate(-50%,-500%);
             }
             
            100% { 
              -webkit-transform: translate(-50%,0px);
               -moz-transform: translate(-50%,0px);
                -ms-transform: translate(-50%,0px);
                 -o-transform: translate(-50%,0px);
                    transform: translate(-50%,0px);
             }
          }

          @keyframes roja {
            
             0%,85%
             {
              -webkit-transform: translate(-50%,-500%);
                 -moz-transform: translate(-50%,-500%);
                  -ms-transform: translate(-50%,-500%);
                   -o-transform: translate(-50%,-500%);
                      transform: translate(-50%,-500%);
             }
             
            100% { 
              -webkit-transform: translate(-50%,0px);
               -moz-transform: translate(-50%,0px);
                -ms-transform: translate(-50%,0px);
                 -o-transform: translate(-50%,0px);
                    transform: translate(-50%,0px);
             }
          }
          @-webkit-keyframes textoOpacity {
            0%,75% { 
                opacity: 0;
             }
            100% { 
                opacity: 1;
             }
          }

          @keyframes textoOpacity {
            
            0%,50% { 
                opacity: 0;
             }
             100% { 
                opacity: 1;
             }
             
          }
.carrito
          {
            width: 20%;
            position: relative;
            float: left;
            -webkit-animation: showAnimation 3s linear 1;
             -moz-animation: showAnimation 3s linear 1;
              -ms-animation: showAnimation 3s linear 1;
               -o-animation: showAnimation 3s linear 1;
                  animation: showAnimation 3s linear 1;
            -webkit-transform: translateX(120%);
               -moz-transform: translateX(120%);
                -ms-transform: translateX(120%);
                 -o-transform: translateX(120%);
                    transform: translateX(120%);
          }
          .texto
          {
            position: relative;
            float: left;
            width: 44%;
              -webkit-animation: showAnimation2 5s ease-out 1;
             -moz-animation: showAnimation2 5s ease-out 1;
              -ms-animation: showAnimation2 5s ease-out 1;
               -o-animation: showAnimation2 5s ease-out 1;
                  animation: showAnimation2 5s ease-out 1;
              -webkit-transform: translate(48%,30%);
                 -moz-transform: translate(48%,30%);
                  -ms-transform: translate(48%,30%);
                   -o-transform: translate(48%,30%);
                      transform: translate(48%,30%);
          }
          .canvas
          {
            width: 100%;
            margin: 0 auto;
            margin-top: 3em;
            height: 540px;
            overflow: hidden;
            text-align: center;
          }
          .pepitas
          {
            position: absolute;
            width: 100%;
            top: 25%;
            left: 25%;
          }
          .pepitas > img {
            width: 30%;
            display: block;
            margin-bottom: 0.3em;
          }
          .pepitas > .roja
          {
            -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                 -o-transform: translateX(-50%);
                    transform: translateX(-50%);
            -webkit-animation: roja 10s linear 1;
             -moz-animation: roja 10s linear 1;
              -ms-animation: roja 10s linear 1;
               -o-animation: roja 10s linear 1;
                  animation: roja 10s linear 1;
          }
          .pepitas > .amarilla
          {
            -webkit-animation: verde 9s linear 1;
             -moz-animation: verde 9s linear 1;
              -ms-animation: verde 9s linear 1;
               -o-animation: verde 9s linear 1;
                  animation: verde 9s linear 1;
          }
          .pepitas > .verde
          {
            width: 15%;
            -webkit-animation: verde 7s linear 1;
             -moz-animation: verde 7s linear 1;
              -ms-animation: verde 7s linear 1;
               -o-animation: verde 7s linear 1;
                  animation: verde 7s linear 1;
          }
          .ruedas 
          {
            width: 100%;
          }
          .rueda1
          {
            -webkit-transform: translate(10%,-25%);
               -moz-transform: translate(10%,-25%);
                -ms-transform: translate(10%,-25%);
                 -o-transform: translate(10%,-25%);
                    transform: translate(10%,-25%);
          }
          .rueda1 > img
          {
            -webkit-animation: rotarRueda 1.5s linear 2;
             -moz-animation: rotarRueda 1.5s linear 2;
              -ms-animation: rotarRueda 1.5s linear 2;
               -o-animation: rotarRueda 1.5s linear 2;
                  animation: rotarRueda 1.5s linear 2;
          }
          .rueda2
          {
            -webkit-transform: translate(-25%,-80%);
               -moz-transform: translate(-25%,-80%);
                -ms-transform: translate(-25%,-80%);
                 -o-transform: translate(-25%,-80%);
                    transform: translate(-25%,-80%);
          }
          .rueda2 > img
          {
            -webkit-animation: rotarRueda 1.5s linear 2;
             -moz-animation: rotarRueda 1.5s linear 2;
              -ms-animation: rotarRueda 1.5s linear 2;
               -o-animation: rotarRueda 1.5s linear 2;
                  animation: rotarRueda 1.5s linear 2;
          }
          .ruedas >div {
            width: 50%;
            float: left;
            text-align: center;
          }
          .ruedas >div > img
          {
            width: 20%;
          }
          .texto2
          {
            opacity: 1;
            -webkit-animation: textoOpacity 11s linear 1;
               -moz-animation: textoOpacity 11s linear 1;
                -ms-animation: textoOpacity 11s linear 1;
                 -o-animation: textoOpacity 11s linear 1;
                    animation: textoOpacity 11s linear 1;
          }
          .animBanner
          {
            opacity: 1;
            width: 70%;
            margin-top: 9em;
            -webkit-transform:  translate(-7%,-4%);;
               -moz-transform:  translate(-7%,-4%);;
                -ms-transform:  translate(-7%,-4%);;
                 -o-transform:  translate(-7%,-4%);;
                    transform:  translate(-7%,-4%);;
            -webkit-animation: textoOpacity 11s linear 1;
               -moz-animation: textoOpacity 11s linear 1;
                -ms-animation: textoOpacity 11s linear 1;
                 -o-animation: textoOpacity 11s linear 1;
                    animation: textoOpacity 11s linear 1;
          }
          img
          {
            width: 100%;
          }

.noCanvas
{
  display: none;
}
.portadaFooter
{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px;
}

@media(max-width: 991px){
  .panel-footer > .footerText
  {
    font-size:1.5em !important;
  }
  .portadaFooter
  {
    position: fixed;
    bottom: 0;
  }
  .canvas
  {
    display: none;
  }
  .noCanvas
  {
    display: block;
    min-height: 400px;
  }
  .noAnimationLogo
  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}